# Lecture 1A: Fundamental Data Types in Python: Number and String

## 1. Number

### int = integer

In [2]:
a = 3

In [3]:
print(a)

3

In [4]:
a

3

In [5]:
type(a)

int

### float = real number

In [13]:
b = 2.5

In [14]:
type(b)

float

### Operations on Numbers

**Addition, Subtraction, Multiplication, Division**

In [44]:
34 + 27

61

In [45]:
34.5 - 27

7.5

In [46]:
34 * 3.4

115.6

In [47]:
34 / 3.4

10.0

**Integer Division**

In [48]:
34 // 3

11

In [49]:
34 % 3

1

**Exponentiation**

In [50]:
34 ** 2

1156

In [51]:
34 ** -1

0.029411764705882353

**Order of operations**

$$
(2 + 3) \times \frac4{5^2}
$$

In [52]:
(2 + 3) * 4 / 5 ** 2

0.8

**Assignment**

In [53]:
x = 3
y = 2
z = x + y

In [54]:
x * (z / y) ** z

292.96875

### Comparison

**Result of a comparison is a boolean**

In [55]:
3 < 2

False

In [56]:
3 > 2.5

True

In [57]:
3 == 3.0

True

In [59]:
a = 3
b = 2.5
a >= b

True

### Sum, min, max, absolu

In [253]:
x = 3
y = -5
z = 8

In [258]:
min(x, y, z)

-5

In [259]:
max(x, y, z)

8

In [261]:
sum([x, y, z])

6

In [263]:
abs(y)

5

### The library `math`

**Trigonometric functions**

In [254]:
import math
math.sin(x), math.cos(y), math.tan(z)

(0.1411200080598672, 0.28366218546322625, -6.799711455220379)

**Exponential and logarithm**

In [255]:
math.log(x), math.exp(y), math.log(z, 2)

(1.0986122886681098, 0.006737946999085467, 3.0)

## 2. String

In [63]:
s1 = "abc"
s2 = 'abc'
s1

'abc'

In [64]:
s2

'abc'

In [65]:
print(s1)

abc

In [66]:
print(s2)

abc

In [71]:
type(s1)

str

**Longer string**

In [139]:
LS = """abcdef
ghijkl
mnopqr
"""

In [140]:
LS

'abcdef\nghijkl\nmnopqr\n'

In [141]:
print(LS)

abcdef
ghijkl
mnopqr

### 2.1 Special characters

"\t" => tab

"\n" => new line

In [68]:
s3 = 'abc\tdef'
s3

'abc\tdef'

In [69]:
print(s3)

abc	def

In [70]:
s4 = "abc\ndef"
print(s4)

abc
def

### 2.2 Get single character of a string

```
 a  b  c  d  e  f
 0  1  2  3  4  5
-6 -5 -4 -3 -2 -1
```

**Use `s[i]` to get character of position `i` of string `s`.**

In [76]:
s = 'abcdef'
s[0]

'a'

In [77]:
s[-4]

'c'

### 2.3 Get substring of a string

**Use `s[i:j]` to get character of position `i, i+1, i+2, ..., j-1` of string `s`**

**Use `s[i:]` to get character of position `i, i+1, i+2, ...` of string `s`**

**Use `s[:i]` to get character of position `0, ..., i-1` of string `s`**

In [78]:
s[0:4]

'abcd'

In [80]:
s[-3:-1]

'de'

In [82]:
s[3:]

'def'

In [83]:
s[:3]

'abc'

### 2.4 Length

In [84]:
len(s)

6

### 2.5 Concatenation

In [107]:
A = "This is"
B = " a pig."
C = A + B

In [108]:
C

'This is a pig.'

In [109]:
D = A[0: 4] + ' ' + B[3:6]

In [110]:
D

'This pig'

### 2.6 Capitalization

**Capitalization**

In [86]:
s = "AbCdEf"
s.lower()

'abcdef'

In [87]:
s.upper()

'ABCDEF'

In [91]:
A = "Abc def"
B = "abc def 123"
C = "ABC DEF HIJ"
D = "Abc Def"
A.islower(), B.islower(), C.islower(), D.islower()

(False, True, False, False)

In [92]:
A.isupper(), B.isupper(), C.isupper(), D.isupper()

(False, False, True, False)

In [96]:
A.istitle(), B.istitle(), C.istitle(), D.istitle()

(False, False, False, True)

In [97]:
A.title()

'Abc Def'

### 2.7 Convert string to number

In [114]:
A = '1234'
B = '12x3'
C = '-123.4'
A.isdigit(), B.isdigit(), C.isdigit()

(True, False, False)

In [116]:
A.isnumeric(), B.isnumeric(), C.isnumeric()

(True, False, False)

In [124]:
A1 = int(A)
A2 = float(A) 
A1

1234

In [125]:
A2

1234.0

In [126]:
type(A1)

int

In [127]:
type(A2)

float

In [130]:
C1 = int(C)
C1

ValueError: invalid literal for int() with base 10: '-123.4'

In [131]:
C2 = float(C)
C2

-123.4

**Convert number to string**

In [154]:
A = 3
B = 1.4
str(A)

'3'

In [155]:
str(B)

'1.4'

### 2.8 Comparison

In [135]:
A = "This is a string"
B = "This is another string"
C = "This is another string"
A < B

True

In [136]:
A == B

False

In [137]:
B == C

True

### 2.9 Find Characters and Substrings in String

In [157]:
A = """Un point de vue unique sur le monde. 
La vision The Economist, c'est un style et une philosophie à part. Nous sommes internationaux, nous mettons en lumière les liens entre la politique et les affaires, et nous sommes irrévérencieux et indépendants. 
Nous couvrons tout ce qui compte dans le monde et nous en fournissons une analyse de qualité."
"""

print(A)

Un point de vue unique sur le monde.
La vision The Economist, c'est un style et une philosophie à part. Nous sommes internationaux, nous mettons en lumière les liens entre la politique et les affaires, et nous sommes irrévérencieux et indépendants.
Nous couvrons tout ce qui compte dans le monde et nous en fournissons une analyse de qualité."

In [158]:
A.find("monde")

30

In [221]:
A.find("monde", 50)

292

In [222]:
A.find("monde", 293)

-1

In [159]:
A.rfind("monde")

292

In [160]:
A.count("monde")

2

### 2.10 Check Beginning and End of String

In [161]:
A.startswith("Un")

True

In [162]:
A.endswith("qualité")

False

In [163]:
A.endswith("qualité.")

False

### 2.11 Replace

In [165]:
A.replace("monde", "Monde")
print(A)

Un point de vue unique sur le monde.
La vision The Economist, c'est un style et une philosophie à part. Nous sommes internationaux, nous mettons en lumière les liens entre la politique et les affaires, et nous sommes irrévérencieux et indépendants.
Nous couvrons tout ce qui compte dans le monde et nous en fournissons une analyse de qualité."

### 2.12 The library `string`

In [232]:
import string

In [233]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [234]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [235]:
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [236]:
string.digits

'0123456789'

In [237]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

**Example**

In [238]:
A = "This is a string"
for letter in string.ascii_letters:
    count = A.count(letter)
    print(letter)
    print(count)

a
1
b
0
c
0
d
0
e
0
f
0
g
1
h
1
i
3
j
0
k
0
l
0
m
0
n
1
o
0
p
0
q
0
r
1
s
3
t
1
u
0
v
0
w
0
x
0
y
0
z
0
A
0
B
0
C
0
D
0
E
0
F
0
G
0
H
0
I
0
J
0
K
0
L
0
M
0
N
0
O
0
P
0
Q
0
R
0
S
0
T
1
U
0
V
0
W
0
X
0
Y
0
Z
0

In [239]:
for letter in string.ascii_letters:
    count = A.count(letter)
    print("Letter {} appears {} times".format(letter, count))

Letter a appears 1 times
Letter b appears 0 times
Letter c appears 0 times
Letter d appears 0 times
Letter e appears 0 times
Letter f appears 0 times
Letter g appears 1 times
Letter h appears 1 times
Letter i appears 3 times
Letter j appears 0 times
Letter k appears 0 times
Letter l appears 0 times
Letter m appears 0 times
Letter n appears 1 times
Letter o appears 0 times
Letter p appears 0 times
Letter q appears 0 times
Letter r appears 1 times
Letter s appears 3 times
Letter t appears 1 times
Letter u appears 0 times
Letter v appears 0 times
Letter w appears 0 times
Letter x appears 0 times
Letter y appears 0 times
Letter z appears 0 times
Letter A appears 0 times
Letter B appears 0 times
Letter C appears 0 times
Letter D appears 0 times
Letter E appears 0 times
Letter F appears 0 times
Letter G appears 0 times
Letter H appears 0 times
Letter I appears 0 times
Letter J appears 0 times
Letter K appears 0 times
Letter L appears 0 times
Letter M appears 0 times
Letter N appears 0 times
Letter O appears 0 times
Letter P appears 0 times
Letter Q appears 0 times
Letter R appears 0 times
Letter S appears 0 times
Letter T appears 1 times
Letter U appears 0 times
Letter V appears 0 times
Letter W appears 0 times
Letter X appears 0 times
Letter Y appears 0 times
Letter Z appears 0 times

## 3. If

In [243]:
x = 7.2
mention = ""

if (x >= 8):
    reply = "Excellent"
elif (x >= 6.5):
    reply = "Good"
elif (x >= 5.0):
    reply = "Sufficient"
elif (x >= 3.5):
    reply = "Insufficient"
else:
    reply = "Bad"

reply

'Good'

In [244]:
print("Your mention is: {}".format(reply))

Your mention is: Good

In [245]:
print("Your score is {}. Your mention is: {}".format(x, reply))

Your score is 7.2. Your mention is: Good

## 4. For

**Loop over numbers**

In [174]:
for x in range(10, 20):
    print("We are visiting apartment {}".format(x))

We are visiting apartment 10
We are visiting apartment 11
We are visiting apartment 12
We are visiting apartment 13
We are visiting apartment 14
We are visiting apartment 15
We are visiting apartment 16
We are visiting apartment 17
We are visiting apartment 18
We are visiting apartment 19

In [177]:
for x in range(20):
    print("We are visiting apartment {}".format(x))

We are visiting apartment 0
We are visiting apartment 1
We are visiting apartment 2
We are visiting apartment 3
We are visiting apartment 4
We are visiting apartment 5
We are visiting apartment 6
We are visiting apartment 7
We are visiting apartment 8
We are visiting apartment 9
We are visiting apartment 10
We are visiting apartment 11
We are visiting apartment 12
We are visiting apartment 13
We are visiting apartment 14
We are visiting apartment 15
We are visiting apartment 16
We are visiting apartment 17
We are visiting apartment 18
We are visiting apartment 19

**Loop over characters of string**

In [180]:
A = """Un point de vue unique sur le monde. 
La vision The Economist, c'est un style et une philosophie à part. Nous sommes internationaux, nous mettons en lumière les liens entre la politique et les affaires, et nous sommes irrévérencieux et indépendants. 
Nous couvrons tout ce qui compte dans le monde et nous en fournissons une analyse de qualité."
"""

total = 0

for c in A:
    if c.isupper():
        total = total + 1
        print(c)

U
L
T
E
N
N

In [181]:
total

6

## Exercises

**This is a text**

*CAPGEMINI : prend 20% d'Azqore (CREDIT AGRICOLE)*

*Indosuez Wealth Management a annoncé le renforcement de son partenariat avec Capgemini, qui entrera à hauteur de 20% dans le capital d'Azqore, société spécialisée dans l'externalisation de l'informatique et des opérations bancaires des acteurs de la Gestion de Fortune. Le groupe de conseil et de services informatiques et Azqore collaboraient déjà depuis plus de 5 ans. Les détails financiers de la transaction, qui devrait être finalisée à la fin du mois, n’ont pas été dévoilés.*

*La marque mondiale de Gestion de Fortune du groupe Crédit Agricole et Capgemini ont l'intention de créer une nouvelle référence mondiale des services d'externalisation de l'informatique et des opérations bancaires pour le secteur de la Gestion de Fortune et des banques universelles de taille intermédiaire. Ce marché devrait croître de plus de 30 % d'ici 2020, selon des données du BCG.*

*Jacques Prost, Directeur général d'Indosuez Wealth Management, a commenté : " Les acteurs de la Gestion de Fortune sont confrontés à une complexification de l'environnement réglementaire et à la nécessité de renforcer leur efficacité opérationnelle. L'union de nos savoir-faire bancaires, notamment en matière de traitement des opérations et de maîtrise des risques, à ceux de Capgemini en matière de digital et de services technologiques, nous permet de déployer des solutions solides et innovantes ".*

*En Bourse, l'action Capgemini progresse de 1,16% à 113,8 euros, échappant à la baisse du marché. L'information concernant cette prise de participation n'est toutefois pas suffisante pour expliquer cette évolution.*

*Copyright 2018 AOF*

In [242]:
text = """CAPGEMINI : prend 20% d'Azqore (CREDIT AGRICOLE)
Indosuez Wealth Management a annoncé le renforcement de son partenariat avec Capgemini, qui entrera à hauteur de 20% dans le capital d'Azqore, société spécialisée dans l'externalisation de l'informatique et des opérations bancaires des acteurs de la Gestion de Fortune. Le groupe de conseil et de services informatiques et Azqore collaboraient déjà depuis plus de 5 ans. Les détails financiers de la transaction, qui devrait être finalisée à la fin du mois, n’ont pas été dévoilés.
La marque mondiale de Gestion de Fortune du groupe Crédit Agricole et Capgemini ont l'intention de créer une nouvelle référence mondiale des services d'externalisation de l'informatique et des opérations bancaires pour le secteur de la Gestion de Fortune et des banques universelles de taille intermédiaire. Ce marché devrait croître de plus de 30 % d'ici 2020, selon des données du BCG.
Jacques Prost, Directeur général d'Indosuez Wealth Management, a commenté : " Les acteurs de la Gestion de Fortune sont confrontés à une complexification de l'environnement réglementaire et à la nécessité de renforcer leur efficacité opérationnelle. L'union de nos savoir-faire bancaires, notamment en matière de traitement des opérations et de maîtrise des risques, à ceux de Capgemini en matière de digital et de services technologiques, nous permet de déployer des solutions solides et innovantes ".
En Bourse, l'action Capgemini progresse de 1,16% à 113,8 euros, échappant à la baisse du marché. L'information concernant cette prise de participation n'est toutefois pas suffisante pour expliquer cette évolution.
Copyright 2018 AOF
"""

#### 1. How many paragraphs does the text contain?

#### 2. How many sentences does the text contain?

#### 3. How many words does the text contain?

#### 4. The text contains characters 'à', 'è', 'é', 'ê'. Transform them to 'a', 'e', 'e', 'e', respectively and save the transformed text as a new string.

#### 5. Which letter in the alphabet appears the most in this text? ('à', 'A' is consider as 'a', etc.)

#### 6. Print the text, but with the first paragraph in title format. (A Title Has All Words' First Letter Capitalized Like This)

#### 7. Inverse the order of the second and the third paragraphs in the text.

#### 8. Check if the text contain the following words:  'indépendant', 'indépendants', 'indépendante', 'indépendantes'. Suppose that the punctuation marks used in this text are ',' and '.' only.